*{
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}
.hero{
    
    background: #eceaff;
    color: white;
}

nav{
    background: black;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    width: 100px;
    border-radius: 50%;
    
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.sub-menu-wrap{
    position:absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: black;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #8811e9b7;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration:solid;
    color: rgb(30, 214, 128);
    margin: 12px 0;
    
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background:white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    color: #ccc ;
    transition: transform 0.5s;
}
.sub-menu-link:hover{
    transform: translateX(5px);
}
.sub-menu-link:hover p
{
    font-weight: 600;
}

.sub-menu-link:hover {
    transform: translateX(5px);
    box-shadow: 0 0 20px rgba(0, 38, 255, 0.5); /* Red glow effect */
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Red glowing text */
    color: aqua;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: left;
    text-justify:auto;
}

header h1 {
    margin: 0;
    color: white;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-style: oblique;
    color:white;
    text-align: center;
    font-weight: 600;
    align-items: center;
}

p1{
    color: black;
    position: fixed;
    text-align: center;
    right: 0;
    left:0;
    bottom: 0;
    margin-bottom: 100;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color:white;
}

main {
    padding: 20px;
}

main h2, main h3 {
    margin-bottom: 10px;
}

main ul {
    padding-left: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#pic1,#pic2,#pic3
{
    width: 350px;
    height: 350px;
    border:white;
    border-radius: 70%;
}

#pic1
{
    background-image: url("nathan-dumlao-Xavq7lKj5j8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 50px;
    left: 60%;
}

#pic2
{
    background-image: url("Soch-Page-intro-img.jpg");
    background-size:cover;
    background-position:center;
    position: relative;
    top: 70px;
    left: 70%;
}

#pic3
{
    position: relative;
    top: 100px;
    left: 64%;
}

.Selection
{
    position: relative;
    top: 450px;
    left: 250px;
}

.Selection img
{
    width: 250px;
    height: 250px;
}

.Selection button
{
    background-color: transparent;
    border-style: hidden;
}