<!DOCTYPE html>
<html>
<head>
    <title>Medicine Donation Website</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    
  <div class="hero">
    
    <nav>
        <img src="Blue Colorful Modern Charity Foundation Logo.png" class="logo">
        <header>

            <h1>Medicine Donation Website</h1>
            

        </header>
        <ul>
            
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Features</li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Contact</li>
            
           
        </ul>
        <img src="https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg" class="user-pic" onclick="toggleMenu()">
    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
               <img src="profile.png">
            </div>
       <hr>


       <a href="index.html"  class="sub-menu-link">
        <img src="profile.png">
        <p>Edit Profile</p>
        <span>></span>
       </a>
       <a href="#"  class="sub-menu-link">
        <img src="setting.png">
        <p>Settings & Privacy</p>
        <span>></span>
       </a>
       <a href="#"  class="sub-menu-link">
        <img src="help.png">
        <p>Help & Support</p>
        <span>></span>
       </a>
       <a href="login.html"  class="sub-menu-link">
        <img src="logout.png">
        <p>Logout</p>
        <span>></span>
         </a>

        
    
    
    </div>
    </div>
    
    
    
    
    </nav>
  </div>
 <script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
 </script>
   

    
        <h2>Welcome to our Medicine Donation Website</h2>
        /html/body/main/section[5]/div/div[3]
         
         
         <footer>
           

        <p>Copyright &copy; 2024 Medicine Donation Website</p>
    </footer>
</body>
</html>